@charset "utf-8";

@import "reset.import.css";
@import "icon.css";

img{
    max-width: 100%;
    height: auto;
}
.p20{
    padding-left: 20px;
    padding-right: 20px;
}



/* 左右两端对齐*/
.justify-grid {
    display: table;
    width: 100%;
}
.justify-grid .col:first-child {
    text-align: left;
}
.justify-grid .col {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
/*end*/


header{
    height: 50px;
    padding-left: 20px;
    font-size: 0;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    background-color: #fff;
    top: 0;
    z-index: 9;
}
header a.btn{
    display:inline-block;
    padding: 17px 20px;
}
header a.btn:hover{
    background-color:#eee;
}

header .drop-box{
    background: rgba(0, 0, 0, 0.85);
    margin-left: -20px;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    z-index: 99;
    display: none;
}
header .drop-box .drop-list li{
    border-bottom: 1px solid #fff;
    line-height: 44px;
    height: 45px;
}
header .drop-box .drop-list li:last-child{
    border-bottom: none;
}
header .drop-box .drop-list a{
    color:#FFF;
    font-size: 14px;
    display: block;
}

footer{
    padding: 20px 0;
    text-align: center;
    background: #2F2F35;
    color:rgba(255, 255, 255, 0.3);
    font-size: 10px;
    line-height: 20px;
}
footer a:first-child{
    margin-left: 0;
}
footer a{
    color:rgba(255, 255, 255, 0.3);
    margin-left: 10px;
}


/*列表*/
.list-banner{
    font-size: 0;
}

.active-list{
    padding-top: 10px;
}
.active-list li img{
    width: 110px;
    height: 85px;
    vertical-align: top;
}

.active-list li{
    font-size: 0;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 10px;
    padding-top: 10px;
}
.active-list li a{
    display: block;
}
.active-list li:last-child{
    border-bottom: none;
}
.active-list .right-box{
    display: inline-block;
    height: 85px;
    padding-left: 13px;
    width: 212px;
}
.active-list .right-box .til{
    font-size: 17px;
    height: 56px;
    overflow: hidden;
    color: #000;
}
.active-list .right-box .text{
    font-size: 12px;
    color: #999;
}

/*站内信*/
.mail-list{
    font-size: 14px;
    color: #333;
    padding-top: 10px;
}
.mail-list li{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.mail-list .til{
    font-size: 17px;
    overflow: hidden;
    color: #333;
}
.mail-list .text{
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}
.mail-list li a.active .til{
    color: #999;
}



/*会员*/
.member-banner{
    position: relative;
    background: url(img/member/banner-bg.jpg);
    background-size: cover;
    height: 220px;
    text-align: center;
}

.member-banner .icon-setting{
    position: absolute;
    right: 20px;
    top: 20px;
}
.member-banner .user-portrait {
    border: 3px solid;
    height: 83px;
    width: 83px;
    border-radius: 55px;
    border-color: rgba(255, 255, 255,0.2);
    display: inline-block;
    margin-top: 53px;
}
.member-banner .user-portrait .img-box img{
    border-radius: 100px;
}
.member-banner .text-name{
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
}

.member-bd{

}
.member-bd .member-bd-list{
    font-size: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D2D2D2;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
}
.member-bd .member-bd-list li{
    display: inline-block;
    font-size: 14px;
    width: 50%;
    text-align: center;
    border-right: 1px solid #D2D2D2;
    margin-left: 1px;
    position: relative;
}
.member-bd .member-bd-list li a{
    display: block;
    color: #000;
}
.member-bd .member-bd-list li .text{
    margin-top: 10px;
}
.member-bd .member-bd-list li .icon-success,
.member-bd .member-bd-list li .icon-newMes
{
    position: absolute;
    top: -5px;
    margin-left: 22px;
}

/*会员注册*/
.ui-form{
    padding-left: 20px;
    padding-right: 20px;
}
.ui-form .ui-form-item{
    border-bottom: 1px solid #E9EFF3;
    padding: 13px 0;
    position: relative;
    color: #999;
    width: 100%;
}
.ui-form.no-border .ui-form-item{
    border-bottom: none;
}


.ui-form-item input,
.ui-form-item textarea {
    box-sizing: border-box;
    -webkit-appearance: none;
    border: 0;
    background: 0 0;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}
.ui-form-item label:not(.ui-switch):not(.ui-checkbox):not(.ui-checkbox-s):not(.ui-radio) {
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    width: 30px;
    vertical-align: middle;
}
.zhuce .ui-form-item label{
    
width: 80px !important;
}


.ui-form-item .text{
    /* padding-left: 88px; */
    color: #000;
    vertical-align: middle;
    display: inline-block;
}



/*会员认证*/
.verification-img{
    width: 121.5px;
    height: 35.5px;
    position: absolute;
    right: 0;
    top: 6px;
}


/*区域活动列表*/
.area-active-list{
    padding: 20px;
    padding-bottom: 0;


}
.area-active-list li{
    position: relative;
    font-size: 0;
    margin-bottom: 20px;
}
.area-active-list li .info-box{
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    bottom: 0;
    line-height: 21px;
    padding-top: 10px;
    padding: 10px 20px;
}
.area-active-list li .text{
    font-size: 11px;
    color: #fff;
}
.area-active-list li .til{
    font-size: 14px;
    color: #fff;
}

/*车型列表*/
.car-list{
    font-size: 0;
}
.car-list li{
    margin-bottom: 5px;
}

/*二级参数列表*/
.config-list{
    padding: 20px;
}

.config-list .til{
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
}
.config-list li{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}
.config-list .text{
    color: #000;
    font-size: 14px;
}
.config-list .text.gray{
    color:#999;
}

/*二级详情*/
.details-box{
    padding: 20px;
    font-size: 14px;
    color: #656565;
}
.details-box .til{
    font-size: 19px;
    font-weight: bold;
    line-height: 45px;
    color: #000;
}
.details-box .til h3{
    border-bottom: 1px solid #ccc;
    display: inline-block;
    font-weight: bold;
}
.details-box .con{
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.details-box .con img{
    margin-top: 10px;
}


/*品牌历史*/
.history-box{
    padding: 20px;
}
.history-list{
    margin-top: 20px;
    margin-left: 8px;
}
.history-list li{
    border-left:1px solid #A8A8A8;
    padding-left: 20px;
    position: relative;
    padding-bottom: 25px;
}
.history-list .til{
    font-size: 21px;
    color: #234BA1;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 15px;
}
.history-box h3{
    font-weight: bold;
    border-left:2px solid #234BA1;
    padding-left: 10px;
    margin-bottom: 10px;
    line-height: 16px;
}

.history-list .icon-circle{
    position: absolute;
    background-color: #fff;
    left: 0;
    left: -9px;
}
.history-list .con{
    color: #656565;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/*品牌大事件*/
.history-box.brand .title{
    margin-bottom: 26px;
}
.history-box.brand .title h2{
    font-size: 28px;
}
.history-box.brand .title .txt{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.5);
}
.history-box.brand{
    background: #212125;
    color: #fff;
}
.history-box.brand .icon-circle{
    background-color: #212125;
}
.history-box.brand .til{
    color: #fff;
}
.history-box.brand .con{
    color: #999;
}


/*文章内容*/
.news-details-box{
    padding:30px 20px;
    font-size: 14px;
    color: #656565;
    line-height: 1.5;
}
.news-details-box h1{
    font-size: 19px;
    color: #000;
    font-weight: bold;
}
.news-details-box .date-text{
    line-height: 25px;
    margin-bottom: 15px;
    color: #999;
}

/*经销商信息*/
.map-box{
    padding: 20px;
    font-size: 14px;
}
.map-box .title{
    border-bottom: 1px solid #8D9099;
    line-height: 45px;
}
.map-box .map-list li{
    padding-top: 15px;
}
.map-box .map-list h3{
    font-size: 17px;
}
.map-box .map-list .text{
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
    margin-top: 5px;
}
.map-box .map-list .phone-btn{
    height: 25px;
    line-height: 25px;
    color: #234BA1;
    border:1px solid #234BA1;
    display: block;
    padding-left: 10px;
    margin-bottom: 20px;
}
.map-box .map-list .phone-btn .icon-phone-number{
    margin-right: 5px;
}


/*核心技术*/
.core-banner-index{
    height: 45px;
    background-color: #6A6B70;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 8;
}
.core-banner-index ul{
    display: inline-block;
    /* margin-top: 15px; */
    height: 45px;
    line-height: 49px;
}
.core-banner-index li{
    background-color: #91929A;
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 15px;
    margin-right: 5px;
}
.core-banner-index li.cur{
    background-color: #fff;
}

.core-box{
    font-size: 14px;
    color: #666;
    /* padding: 20px; */
    line-height: 1.5;
    text-align: center;
}
.core-box .core-con{
    padding-left: 20px;
    padding-right: 20px;
}
.core-box .core-con h3{
    color: #000;
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
}
.core-box p{
    text-align: left;
    padding: 20px 0;
}
.property{
    width:100%;
    background: url(img/core/01-bg.jpg);
    background-size: cover;
    padding-bottom: 30px;
}
.property img{
    margin-top: 50px;
}
.property .til{
    font-size: 21px;
    color: #fff;
    margin-top: 10px;
}
.property .text{
    font-size: 14px;
    color: #999;
    padding: 0 20px;
    margin-top: 10px;
}

.property video{
    margin-top: 30px;
}


/*拉力赛*/
.rally-box{
    font-size: 0;
    line-height: 1.5;
}
.rally-box .more-btn{
    width: 140px;
    height: 35px;
    background-image: url(img/slice/more-bg@2x.png);
    background-size: cover;
    position: absolute;
    display: block;
}


.rally-box .map{
    position: relative;
    line-height: 1.5;
}
.rally-box .map .more-btn{
    z-index: 9;
    bottom: 0;
    right: 20px;
}

.rally-box .map .text{
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 380px;
}

.user-box{
    position: relative;
    overflow: hidden;
}
.user-box-list-box{
    position: absolute;
    overflow: auto;
    top: 141px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}
.user-box .user-box-list{
    white-space: nowrap;
}
.user-box .user-box-list li{
    width: 120px;
    height: 140px;
    display: inline-block;
    margin-right: 10px;
}
.user-box .more-btn{
    bottom: 60px;
    left: 20px;
}

.rally-box .history-text{
    position: relative;
}
.rally-box .history-text .text{
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 352px;
}
.rally-box .history-text .more-btn{
    right:20px;
    bottom: 48px;
}
.rally-box .ft-box{
    position: relative;
}
.rally-box .ft-box .text{
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 365px;
}
.rally-box .ft-box .more-btn{
    left: 20px;
    bottom: 48px;
}



































