@charset "utf-8";

@font-face {
    font-family: DIN-Bold;
    src: url('font/DIN-Bold.ttf');
}

*{
    box-sizing: border-box;
}

html{
    font-family: 'PingFangSC-Light',"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

body, 
dl, 
dd, 
h1, 
h2, 
h3,
p,
ol,
ul,
input[type="radio"],
input[type="checkbox"]
{
    margin:0;
}   

ol,
ul{
    padding:0;
    
}

body {
    /*-webkit-user-select: none;*/
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    padding-top: 50px;
    font-size: 14px;
}

h1,
h2,
h3,
h4 {
    font-size: 100%;
    font-weight: 400;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}

li {
    list-style-type: none;
}

input, 
button, 
textarea, 
select, 
option {
    font: inherit;
    outline: 0; /* 去除移动端下表单阴影 */
    -webkit-appearance: none; /* 去除IOS下表单阴影 */
}

button {
    padding:0;
    margin:0;
    border: 0;
}

a {
    -webkit-touch-callout: none;
    text-decoration: none;
}

em, 
i {
    font-style: normal;
}
.my-font{
    font-family: DIN-Bold;
}



.ui-btn,
.ui-btn-lg,
.ui-btn-s {
    height: 45px;
    line-height: 45px;
    padding: 0 11px;
    min-width: 55px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 15px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#fff),to(#fafafa));
    vertical-align: top;
    color: #00a5e0;
    -webkit-box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* border: 1px solid #cacccd; */
}
.ui-btn-lg {
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    display: block;
    width: 100%;
    font-size: 16px;
}
.ui-form .ui-btn-primary{
    margin-top: 20px;
    background: #234BA1;
    color: #fff;
}
.ui-select {
    position: relative;
    margin-right: 30px;
}
.ui-select:after {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -4px;
    width: 0;
    height: 0;
    border-top: 6px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #a6a6a6;
    content: "";
    pointer-events: none;
}
.ui-select-group {
    margin-left: 35px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.ui-select-group .ui-select {
    float: left;
}
.ui-select select {
    -webkit-appearance: none;
    border: 0;
    background: 0 0;
    width: 100%;
    padding-right: 14px;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #234BA1;
    background-color: #fff;
    background-image: url(img/down-arrow@2x.png);
    background-size: 14.5px 8px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    box-shadow: none;
    color: #234BA1;
    font-size: 15px;
    cursor: pointer;
    height: 39px;
    padding: 8px 24px 7px 10px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/* Swipe 2 required styles */
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    padding-top: 45px;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
    padding-right: 20px;
}
/* END required styles */















